@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .setting {
        @apply h-8 lg:h-12 aspect-square border-2 border-solid border-black;
    }

    .setting > img {
        @apply h-full w-full;
    }

    .setting.selected {
        @apply border-4;
    }

    #black.setting.selected {
        @apply border-4 border-white outline outline-1 outline-black;
    }

    .setting.selected.hide-select {
        @apply border-2;
    }
}

#color-picker {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

#color-picker-label {
    cursor: pointer;
}

#paint-size-slider::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

#paint-size-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

#paint-size-slider:hover::-webkit-slider-thumb,
#paint-size-slider:hover::-moz-range-thumb {
    background-color: gray;
}

.text-shadow-black {
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}
